.text-white {
    color: #FFF;
}

.bg-nightSky {
    background: #1c0e00;
}

.bg-nightBlue {
    background: #3b6b98;
}

.bg-nightRed {
    background: #dc1f54;
}

.bg-nightYellow {
    background: #eca700;
}

.l-spacer.-bgHarfMurasaki:before {
    background: #091F32;
}

.-bg-primary {
    background: #231815;
}

.bg-gradient {
    background: linear-gradient(185deg, rgba(30, 16, 0, 1) 16%, rgba(26, 18, 0, 1) 37%, rgba(56, 46, 0, 1) 55%, rgba(109, 99, 44, 1) 68%, rgba(171, 161, 117, 1) 80%, rgba(226, 202, 127, 1) 94%, rgba(218, 196, 101, 1) 100%, rgba(179, 155, 46, 1) 100%);
}